.error {
    position: fixed;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0 39px 37px 0 rgba(195, 195, 195, 0.25);
    padding: 5px 11px;
    margin-left: 10px;
}

.error h2{
    font-size: 20px;
    border-radius: 30px;
    background: #FFF;
    padding: 10px 31px;
    color: crimson;
}