.we-do-creative {
    padding: 150px 0;
}

.we-do-creative-content {
    display: flex;
    align-items: center;
}

.we-do-creative-text {
    margin-left: 30px;
    margin-top: -40px;
    width: 40%;
}

.content-text-we-do-creative {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 165.4%;
    color: #525C60;
    margin-top: 15px;
}

.we-do-create-p {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 59px;
    color: #274C5B;
}

.content-text-we-do-creative p{
    margin-bottom: 30px;
}

.we-do-creative-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .we-do-creative-photo img{
        height: 400px;
    }
}

@media (max-width: 875px) {
    .we-do-creative-content {
        flex-direction: column;
    }
    .we-do-creative-photo{
        display: none;
    }
    .we-do-creative {
        padding: 100px 0;
    }
    .we-do-creative-text {
        margin-left: 0;
        width: 90%;
    }
    .we-do-creative-text h2 {
        text-align: center;
    }
    .we-do-creative-text h4 {
        text-align: center;
    }
    .big-button-content-we-do-creative {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 426px) {
    .we-do-creative {
        padding: 50px 0;
    }
    .we-do-creative-text h2 {
        line-height: 50px;
    }
    .we-do-creative-text h4 {
        line-height: 50px;
    }
}