.nav-bar-fixed {
    position: fixed;
    width: 100%;
    padding: 25px;
    border-bottom: 0.5px solid #525C60;
    margin-top: -200px;
    transition: all 0.3s ease;
    z-index: 100;
}

@media (max-width: 820px) {
    .nav-bar-fixed {
        margin-top: 0;
        transition: all 0.3s ease;
    }
}

.nav-bar-fixed.active {
    margin-top: 0;
    transition: all 0.3s ease;
}

@media (max-width: 545px) {
    .nav-bar-fixed {
        padding: 15px 30px;
    }
}

@media (max-width: 426px) {
    .nav-bar-fixed {
        width: 100%;
        opacity: 1;
    }
}
