.page-header {
    width: 100%;
    display: flex;
    justify-content:  center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 110px 0;
}

@media (max-width: 768px) {
    .page-header {
        padding: 90px;
    }
    .page-header h1{
        font-size: 55px;
    }
}

@media (max-width: 426px) {
    .page-header {
        padding: 70px;
    }
    .page-header h1{
        font-size: 50px;
    }
}

@media (max-width: 410px) {
    .page-header h1{
        font-size: 40px;
    }
    .page-header {
        padding: 60px 30px;
    }
}