/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.container {
    max-width: 1450px;
    margin: 0px auto;
}


h2 {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 59px;
    color: #274C5B;

}

h4 {
    font-family: 'Yellowtail', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 49px;
    color: #7EB693;
}

h1 {

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #274C5B;

}

p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 165.4%;
    color: #525C60;

}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


@media (max-width: 830px) {
    h2 {
        font-size: 40px;
    }
}

@media (max-width: 425px) {
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    h4 {
        font-size: 23px;
    }
    p {
        font-size: 14px;
    }
    .about-us-content-items {
        margin: 20px 0;
    }
}
