.home-page-news {
    padding: 150px 0;
    background-color: #ffffff;
}

.home-page-news-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0px auto;
}

.home-page-news-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.home-page-news-titles {
    width: 50%;
}

.home-page-news-titles h2{
    font-size: 40px;
}

.news-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1332px) {
    .news-card {
        margin: 40px 0;
    }
    .news-cards {
        justify-content: center;
    }
}

@media (max-width: 1100px) {
    .home-page-news-titles h2 {
        line-height: 45px;
    }
}

@media (max-width: 730px) {
    .home-page-news-information button {
        display: none;
    }
    .home-page-news-information {
        justify-content: center;
    }
    .home-page-news-titles {
        width: 100%;
        text-align: center;
    }
    .home-page-news {
        padding: 50px 0;
    }
    .home-page-news-titles h2 {
        line-height: 35px;
    }
}